<div class="col-sm-4">
    <form action="/admin/categories/create">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="Enter Title" class="form-control">
        </div>
        <button class="btn btn-primary">Create Categories</button>
    </form>

</div>
<hr>
<br>

<div class="col-sm-8">
    <h1>Categories</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>213</td>
                <td>Java</td>
                <td>March 1 2088</td>
            </tr>
        </tbody>
    </table>
</div>